body {
    font-family: Verdana, sans-serif;
}

.main {
    text-align: center;
}

.nav-principal {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
}
a:hover {
    background-color: #4a51f4;
    transition: 0.5s;
    color: white;
    border-radius: 10px;
}
.dashboard-helados {
    display: flex;
    justify-content: space-evenly;
}

.dashboard-helados img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

.formulario-login {
    display: flex;
    gap: 20px;

}
/* estilos para el menú */
.header-menu {
    margin-bottom: 20px;
}
.header-menu p {
    margin-bottom: 40px;
}
.div1-menu, .div2-menu, .div3-menu, .div4-menu {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    border: 1px solid grey;
    padding: 15px;
}

.contenedor-helados a {
    display: inline-block;
    margin-top: 20px;
    background-color: #ccb4ed;
    color: #3d67e1;
}
.contenedor-helados a:hover {
    background-color: #ad3ae7;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}